@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Cols = new Zephyr.Models.sys_roleMenuColumnMapService().GetCurrentUserMenuColumns();
}

@section scripts{

    <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
    <script src="~/Areas/Mms/ViewModels/mms.viewModel.search.js"></script>
    <script type="text/javascript" src="~/Content/arcgis/jsapi_vsdoc12_v38.js"></script>
    <link rel="stylesheet" type="text/css"
      href="http://10.144.1.21/arcgis/library/3.17/jsapi/dijit/themes/tundra/tundra.css" />
    <link rel="stylesheet" type="text/css"
      href="http://10.144.1.21/arcgis/library/3.17/jsapi/esri/css/esri.css" />
    <script type="text/javascript"
        src="http://10.144.1.21/arcgis/library/3.17/jsapi/init.js"></script>
    <script type="text/javascript">

        var MyMap;
        var MyBuildMapServiceLayer; 
        var MyRiverMapServiceLayer; 
        var MyRoadMapServiceLayer; 
        var graphicsLayer;
        var sms;
        var infoTemplate;
        var graphic;
        var selecteditem=0;
		var selecteditem1=0
        var selecteditem2=0;
        var selecteditem3=0;
        var selecteditem4=0;
        var selecteditem5=0;
        var selecteditem6=0;
       
        var lastid='0';
        var findsingle='0';
        var lastsingleid='0'
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var viewModel = function(){
            var self = this;
            mms.viewModel.search.apply(this,arguments);
            com.Category = utils.fnValueToText(data.dataSource.Category);
            com.AdministrativeArea = utils.fnValueToText(data.dataSource.AdministrativeArea);
            com.Material = utils.fnValueToText(data.dataSource.Material);
            com.Type = utils.fnValueToText(data.dataSource.Type);
            com.SectionForm = utils.fnValueToText(data.dataSource.SectionForm);
            com.Structure = utils.fnValueToText(data.dataSource.Structure);
            com.InterfaceForm= utils.fnValueToText(data.dataSource.InterfaceForm);
            com.FacilityStatus = utils.fnValueToText(data.dataSource.FacilityStatus);

        }
        ko.bindingViewModel(new viewModel(data));
      
     
      function adds(rows)
        {
          
          var Address;
          var IdentificationCode;
          var DrainageCode;
          var Start_stopPoint;
          var Category;
          var Type;
          var Length;
          var StartCode;
          var StopCode;
          var StartElevation;
          var StopElevation;
          var SectionForm;
          var Diameter;
          var Material;
          var Roughness;
          var Structure;
          var InterfaceForm;
          var Slope;
          var OwnershipUnit;
          var FacilityStatus;

          var map, dialog;
          require([
            "esri/map", "esri/layers/FeatureLayer", "esri/InfoTemplate",
            "esri/symbols/SimpleFillSymbol", "esri/symbols/SimpleLineSymbol",
            "esri/renderers/SimpleRenderer", "esri/graphic", "esri/lang",
            "esri/Color", "dojo/number", "dojo/dom-style","esri/symbols/SimpleMarkerSymbol",
            "dijit/TooltipDialog", "dijit/popup", "dojo/domReady!"
          ], function (
            Map, FeatureLayer,InfoTemplate,
            SimpleFillSymbol, SimpleLineSymbol,
            SimpleRenderer, Graphic, esriLang,
            Color, number, domStyle,SimpleMarkerSymbol,
            TooltipDialog, dijitPopup
          ) {
              
              MyBuildMapServiceLayer = new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/backgroundmap/MapServer");
              MyRiverMapServiceLayer = new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/rivermap/MapServer");
              MyRoadMapServiceLayer = new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/roadmap/MapServer");
              MyContourMapServiceLayer= new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/mapdenggaoxian/MapServer");
              MyCalloutMapServiceLayer= new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/标注图层/MapServer");
              MyAdministrativeMapServiceLayer= new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/徐州市行政区域/MapServer");
              

              MyMapDiv.innerHTML="";
              MyMap  = new esri.Map("MyMapDiv");
             
              if(selecteditem1==1)
              {
                  MyMap.addLayer(MyBuildMapServiceLayer);
              }
              
              if(selecteditem2==2)
              {
                  MyMap.addLayer(MyRiverMapServiceLayer);
              }
              if(selecteditem3==3)
              {
                  MyMap.addLayer(MyRoadMapServiceLayer);
              }
              if(selecteditem4==4)
              {
                  MyMap.addLayer(MyContourMapServiceLayer);
              }
              if(selecteditem5==5)
              {
                  MyMap.addLayer(MyCalloutMapServiceLayer);
              }
              if(selecteditem6==6)
              {
                  MyMap.addLayer(MyAdministrativeMapServiceLayer);
              }

              var symbol = new SimpleMarkerSymbol({
                  "color": [255,255,255,64],
                  "size": 12,
                  "angle": -30,
                  "xoffset": 0,
                  "yoffset": 0,
                  "type": "esriSMS",
                  "style": "esriSMSCircle",
                  "outline": {
                      "color": [0,0,0,255],
                      "width": 1,
                      "type": "esriSLS",
                      "style": "esriSLSSolid"
                  }
              });

              var grooveTemplate = new InfoTemplate();
              grooveTemplate.setTitle("<b>排水渠标识码 - ${ConduitID}</b>");
              grooveTemplate.setContent("<b>所在道路名称:</b>&nbsp${Lane_Way}&nbsp&nbsp<br>"
                                          + "<b>渠道类别: </b>${Conduit_Category}<br>"
                                          + "<b>渠道起止: </b>${Start_End}<br>"
                                          + "<b>渠道长度(米): </b>${Conduit_Len}<br>"
                                          + "<b>起点标高(米): </b>${In_Elev}<br>"
                                          + "<b>终点标高(米): </b>${Out_Elev}<br>"
                                          + "<b>渠道坡度: </b>${Conduit_Slope}<br>"
                                          + "<b>权属单位: </b>${OnwerUnit}<br>"
                                           );
              //add a layer to the map
              var groovefeatureLayer = new FeatureLayer("http://10.144.1.21:6080/arcgis/rest/services/featuremap/FeatureServer/6", {
                  mode: FeatureLayer.MODE_ONDEMAND,
                  infoTemplate: grooveTemplate,
                 
                  outFields: ["*"]
              });
             
                   
              var condition="1=1"
              var address=$("#address").val();
              var identificationCode=$("#identificationCode").val();
              var category=$("#category").combobox('getText');
              var administrativearea=$("#administrativearea").combobox('getText');

              var ownershipunit=$("#ownershipunit").val();
          
              if(address.length>0)
              {
                  condition=condition+" and "+"Lane_Way ="+"'"+address+"'"
              }
                  
              if(identificationCode.length>0)
              {
                  condition=condition+" and "+"ConduitID="+"'"+identificationCode+"'"
              }

              if(category.length>0 & category!='== 请选择 ==')
              {
                  condition=condition+" and "+"Conduit_Category="+"'"+category+"'"
              }

              //if(administrativearea.length>0 & administrativearea!='== 请选择 ==')
              //{
                 
              //    condition=condition+" and "+"所在区域 ="+"'"+administrativearea+"'"
              //}
              if(ownershipunit.length>0)
              {
                  condition=condition+" and "+"OnwerUnit="+"'"+ownershipunit+"'"
              }

              alert(condition);

              groovefeatureLayer.setDefinitionExpression(condition);
            
              groovefeatureLayer.setSelectionSymbol(symbol);   
              MyMap.addLayer(groovefeatureLayer);

          });
        }


        function doFind() {
            var rows = $("#tbgrid").datagrid("getRows");
            var selectedrow =$("#tbgrid").datagrid("getSelected");

            var pp = $('#testss').tabs('getSelected');
            if(pp.panel('options').title!="地图查看")
            {
                $('#mapCheckbox').hide();
            }else
            {
                $('#mapCheckbox').show();
                //if(selectedrow)
                //{ 

                //    if(lastsingleid!=selectedrow.BillNo)
                //    {
                //        lastsingleid=selectedrow.BillNo;
                //        findsingle='1';
                //        adds(selectedrow);

                //    }
                //}else
                //{

                //    findsingle='0';
                //    if(lastid!=rows[rows.length-1]['BillNo'])
                //    {
                //        lastid=rows[rows.length-1]['BillNo'];
                //        findsingle='0';         
                //        adds(rows);
                       
                        

                //    }else{
                        
                //        return;
                //    }
                //}

            }

        }

        function Pre_searchClick()
        {
            var address_name=$("#address_name").val();
          
            if(address_name.length>0)
            {
                this.searchClick();
            }else
            {
                return com.message('warning', "请先输入道路名称再查询");

            }

        }

        function convert_Slope(val,row,index){ 
            
            var f = parseFloat(val)*1000; 
            if (isNaN(f)) { 
                return; 
            }
            
            f = Math.round(f*10)/10; 
            return f.toString()+"‰"; 
           
        }  

        $('#mapCheckbox').hide();
        
        $('#btn').bind('click', function(){
          
          if ($('#item1').attr('checked')) 
            {  
                selecteditem1=$('input[name="item1"]:checked').val();

            }else{

                selecteditem1=0;
            }

            if ($('#item2').attr('checked')) 
            {  
                selecteditem2=$('input[name="item2"]:checked').val();

            }else{

                selecteditem2=0;
            }

            if ($('#item3').attr('checked')) 
            {  
                selecteditem3=$('input[name="item3"]:checked').val();

            }else{

                selecteditem3=0;
            }

            if ($('#item4').attr('checked')) 
            {  
                selecteditem4=$('input[name="item4"]:checked').val();

            }else{

                selecteditem4=0;
            }
            
            if ($('#item5').attr('checked')) 
            {  
                selecteditem5=$('input[name="item5"]:checked').val();

            }else{

                selecteditem5=0;
            }
            if ($('#item6').attr('checked')) 
            {  
                selecteditem6=$('input[name="item6"]:checked').val();

            }else{

                selecteditem6=0;
            }
          
            MyMapDiv.innerHTML="";
            var rows = $("#tbgrid").datagrid("getRows");
            adds(rows);

        });



        // 初始化图表标签
        var myChart = echarts.init(document.getElementById('chart'));
        $(function () {
           
            $.ajax({
                url: "/mms/draingroove/Echart/Category",
                success: function (data) {
                    var options=data;
                    myChart.setOption(options);
                },
                async: false
            });

        });

        // 初始化图表标签
        var myCharts = echarts.init(document.getElementById('charts'));
        $(function () {
           
            $.ajax({
                url: "/mms/draingroove/Echart/AdministrativeArea",
                success: function (data) {
                    var options=data;
                    myCharts.setOption(options);
                },
                async: false
            });

        });
        var myChart1 = echarts.init(document.getElementById('chart1'));
        $(function () {
           
            $.ajax({
                url: "/mms/draingroove/Echart/OwnershipUnit",
                success: function (data) {
                    var options=data;
                    myChart1.setOption(options);
                },
                async: false
            });

        });



    </script>
}

@Html.RenderToolbar()



<div id="condition" class="container_12" style="position:relative;">
    <div class="grid_1 lbl">渠道标识码</div>
    <div class="grid_2 val"><input type="text" data-bind="value:form.IdentificationCode" class="z-txt" id="identificationCode" /></div>
    <div class="grid_1 lbl">道路名称</div>
    <div class="grid_2 val"><input type="text" data-bind="value:form.Address" class="z-txt" id="address" name="address" /></div>
    <div class="grid_1 lbl">所在区域</div>
    <div class="grid_2 val"><input type="text" data-bind="comboboxValue:form.AdministrativeArea,datasource:dataSource.AdministrativeArea" class="easyui-combobox z-txt" data-options="showblank:true" id="administrativearea" /></div>

    <div class="clear"></div>
    <div class="grid_1 lbl">渠道类别</div>
        <div class="grid_2 val"><input type="text" data-bind="comboboxValue:form.Category,datasource:dataSource.Category" class="easyui-combobox z-txt" data-options="showblank:true" id="category" /></div>
        <div class="grid_1 lbl">按权属单位</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.OwnershipUnit" required="required" class="z-txt" id="ownershipunit" /></div>
        <div class="grid_1 lbl">渠道管径</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.Diameter" required="required" class="z-txt" /></div>
    <div class="clear"></div>
   
  

    <div class="prefix_9" style="position:absolute;top:5px;height:0;">
        <a id="a_search" href="#" class="buttonHuge button-blue" data-bind="click:searchClick" style="margin:0 15px;">查询</a>
        <a id="a_reset" href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
    </div>
</div>

<div id="mapCheckbox">
    <label>请先选择要加载的底图类型：</label>
    <input type="checkbox" name="item1" value="1" id="item1" />建筑图层
    <input type="checkbox" name="item2" value="2" id="item2" />河流图层
    <input type="checkbox" name="item3" value="3" id="item3" />道路图层
    <input type="checkbox" name="item4" value="4" id="item4" />等高线图层
    <input type="checkbox" name="item5" value="5" id="item5" />标注图层
    <input type="checkbox" name="item6" value="6" id="item6" />行政区图层
    <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">确 认</a>
</div>




<div id="testss" class="easyui-tabs" data-bind="click:doFind">
    <div title="详细信息">
        <div style="position: absolute; height: 100%; overflow-y:auto ;overflow-x:hidden">
            <table id="tbgrid" data-bind="datagrid:grid" style="scrollbar-darkshadow-color: #f00; height: 100%">
                <thead>
                    <tr>
                        <th field="BillNo" hidden="hidden" sortable="true" align="center" width="90">流水号</th>
                        <th field="Address" @Html.HideColumn(Cols, "Address") sortable="true" align="center" width="100">所在道路名称</th>
                        <th field="AdministrativeArea" @Html.HideColumn(Cols, "AdministrativeArea") sortable="true" align="center" width="100" formatter="com.AdministrativeArea">所在区域</th>
                        <th field="IdentificationCode" @Html.HideColumn(Cols, "IdentificationCode") sortable="true" align="center" width="100">渠道标识码</th>
                        <th field="Start_stopPoint" @Html.HideColumn(Cols, "Start_stopPoint") sortable="true" align="center" width="100">起止点</th>
                        <th field="Category" @Html.HideColumn(Cols, "Category") sortable="true" align="center" width="100" formatter="com.Category">管道类别</th>
                        <th field="Type" @Html.HideColumn(Cols, "Type") sortable="true" align="center" width="100" formatter="com.Type">渠道类型</th>
                        <th field="Length" @Html.HideColumn(Cols, "Length") sortable="true" align="center" width="100">渠道长度(米)</th>
                        <th field="StartCode" @Html.HideColumn(Cols, "StartCode") sortable="true" align="center" width="100">起点编码</th>
                        <th field="StopCode" @Html.HideColumn(Cols, "StopCode") sortable="true" align="center" width="100">终点编码</th>
                        <th field="StartElevation" @Html.HideColumn(Cols, "StartElevation") sortable="true" align="center" width="100">起点管底标高(米)</th>
                        <th field="StopElevation" @Html.HideColumn(Cols, "StopElevation") sortable="true" align="center" width="100">终点管底标高(米)</th>
                        <th field="SectionForm" @Html.HideColumn(Cols, "SectionForm") sortable="true" align="center" width="100" formatter="com.SectionForm">断面形式</th>
                        <th field="Diameter" @Html.HideColumn(Cols, "Diameter") sortable="true" align="center" width="100">渠道管径</th>
                        <th field="Material" @Html.HideColumn(Cols, "Material") sortable="true" align="center" width="100" formatter="com.Material">渠道材质</th>
                        <th field="Roughness" @Html.HideColumn(Cols, "Roughness") sortable="true" align="center" width="100">渠道糙率</th>
                        <th field="Structure" @Html.HideColumn(Cols, "Structure") sortable="true" align="center" width="100" formatter="com.Structure">渠道结构</th>
                        <th field="InterfaceForm" @Html.HideColumn(Cols, "InterfaceForm") sortable="true" align="center" width="100" formatter="com.InterfaceForm">接口形式</th>
                        <th field="Slope" @Html.HideColumn(Cols, "Slope") sortable="true" align="center" width="100" formatter="convert_Slope">渠道坡度</th>
                        <th field="OwnershipUnit" @Html.HideColumn(Cols, "OwnershipUnit") sortable="true" align="center" width="100">权属单位</th>
                        <th field="FacilityStatus" @Html.HideColumn(Cols, "FacilityStatus") sortable="true" align="center" width="100" formatter="com.FacilityStatus">设施状态</th>
                    
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div title="地图查看" id="mapwin">
        <div style="height: 100%;width:100%; overflow-y: hidden; overflow-x: hidden">
            <div id="MyMapDiv" class="MapClass" style="height: 800px"></div>
        </div>
    </div>

    <div title="统计查看">
        <div style="position: absolute; height: 100%; overflow-y:auto ;overflow-x:hidden">
            <div id="chart" style="width:500px;height:500px;  float:left">   </div>
            <div id="charts" style="width:500px;height:500px; float:right"> </div>
            <div id="chart1" style="width:500px;height:500px; float:left">  </div>
        </div>
    </div>
</div>



