@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Cols = new Zephyr.Models.sys_roleMenuColumnMapService().GetCurrentUserMenuColumns();
}

@section scripts{

    <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
    <script src="~/Areas/Mms/ViewModels/mms.viewModel.search.js"></script>
    <script type="text/javascript" src="~/Content/arcgis/jsapi_vsdoc12_v38.js"></script>
    <link rel="stylesheet" type="text/css"
      href="http://10.144.1.21/arcgis/library/3.17/jsapi/dijit/themes/tundra/tundra.css" />
    <link rel="stylesheet" type="text/css"
      href="http://10.144.1.21/arcgis/library/3.17/jsapi/esri/css/esri.css" />
    <script type="text/javascript"
        src="http://10.144.1.21/arcgis/library/3.17/jsapi/init.js"></script>
    <script type="text/javascript">


        var MyMap;
     
        var MyBuildMapServiceLayer; 
        var MyRiverMapServiceLayer; 
        var MyRoadMapServiceLayer; 
        var graphicsLayer;
        var sms;
        var infoTemplate;
        var graphic;
        var selecteditem=0
        var selecteditem1=0
        var selecteditem2=0;
        var selecteditem3=0;
        var selecteditem4=0;
        var selecteditem5=0;
        var selecteditem6=0;
       
        var lastid='0';
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var viewModel = function(){
            var self = this;
            mms.viewModel.search.apply(this,arguments);
            com.Form = utils.fnValueToText(data.dataSource.Form);
            com.AdministrativeArea = utils.fnValueToText(data.dataSource.AdministrativeArea);
            com.GarbageInterceptionDevice = utils.fnValueToText(data.dataSource.GarbageInterceptionDevice);
            com.DeodorizationDevice = utils.fnValueToText(data.dataSource.DeodorizationDevice);
            com.RainwaterInterceptionDevice = utils.fnValueToText(data.dataSource.RainwaterInterceptionDevice);
            com.RainGrateMaterial = utils.fnValueToText(data.dataSource.RainGrateMaterial);
            com.FacilityStatus = utils.fnValueToText(data.dataSource.FacilityStatus);

        }
        ko.bindingViewModel(new viewModel(data));
      
     
      function adds(rows)
      {
          
       
        dojo.require("esri.map");
        require([
                    "dojo/dom", "dojo/on",
                    "esri/map", "esri/layers/GraphicsLayer", "esri/geometry/Point","esri/symbols/SimpleMarkerSymbol", "esri/symbols/PictureMarkerSymbol",
                    "esri/symbols/SimpleLineSymbol", "esri/graphic", "esri/Color", "esri/InfoTemplate","esri/SpatialReference", 
                    "dojo/domReady!"],
                function (dom, on, Map, GraphicsLayer, Point,
                          SimpleMarkerSymbol,  PictureMarkerSymbol, SimpleLineSymbol,Graphic, Color) {
                    //var MyTiledMapServiceLayer = new esri.layers.ArcGISTiledMapServiceLayer ("http://www.arcgisonline.cn/ArcGIS/rest/services/ChinaOnlineCommunity/MapServer");
                    
                    MyBuildMapServiceLayer = new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/徐州底图1124/MapServer");
                    MyRiverMapServiceLayer = new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/rivermap/MapServer");
                    MyRoadMapServiceLayer = new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/roadmap/MapServer");
                    MyContourMapServiceLayer= new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/mapdenggaoxian/MapServer");
                    MyCalloutMapServiceLayer= new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/标注图层/MapServer");
                    MyAdministrativeMapServiceLayer= new esri.layers.ArcGISDynamicMapServiceLayer("http://10.144.1.21:6080/arcgis/rest/services/徐州市行政区域/MapServer");
                   
                    MyMapDiv.innerHTML="";
                    MyMap  = new esri.Map("MyMapDiv");
             
                    if(selecteditem1==1)
                    {
                        MyMap.addLayer(MyBuildMapServiceLayer);
                    }
              
                    if(selecteditem2==2)
                    {
                        MyMap.addLayer(MyRiverMapServiceLayer);
                    }
                    if(selecteditem3==3)
                    {
                        MyMap.addLayer(MyRoadMapServiceLayer);
                    }
                    if(selecteditem4==4)
                    {
                        MyMap.addLayer(MyContourMapServiceLayer);
                    }
                    if(selecteditem5==5)
                    {
                        MyMap.addLayer(MyCalloutMapServiceLayer);
                    }
                    if(selecteditem6==6)
                    {
                        MyMap.addLayer(MyAdministrativeMapServiceLayer);
                    }

                    graphicsLayer = new GraphicsLayer();
                    //sms = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_SQUARE, 20,
                    //              new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
                    //                      new Color([255, 0, 0]), 1),
                    //              new Color([0, 255, 0, 0.25]));


                     sms =  new PictureMarkerSymbol({
                         "url":"/images/Rainwaterport.png",
                        "height":15,
                        "width":15,
                        "type":"esriPMS",
                        "angle": -30,
                        "color": [255,255,255,64]
                    });
                 
                    infoTemplate = new esri.InfoTemplate();
                    for (var i = 0; i < rows.length; i++) {


                       
                        var Form = utils.CovValueToText(rows[i]['Form'],data.dataSource.Form);
                        var AdministrativeArea = utils.CovValueToText(rows[i]['AdministrativeArea'],data.dataSource.AdministrativeArea);
                        var GarbageInterceptionDevice = utils.CovValueToText(rows[i]['GarbageInterceptionDevice'],data.dataSource.GarbageInterceptionDevice);
                        var DeodorizationDevice = utils.CovValueToText(rows[i]['DeodorizationDevice'],data.dataSource.DeodorizationDevice);
                        var RainwaterInterceptionDevice = utils.CovValueToText(rows[i]['RainwaterInterceptionDevice'],data.dataSource.RainwaterInterceptionDevice);
                        var RainGrateMaterial=utils.CovValueToText(rows[i]['RainGrateMaterial'],data.dataSource.RainGrateMaterial);
                        var FacilityStatus = utils.CovValueToText(rows[i]['FacilityStatus'],data.dataSource.FacilityStatus);

                        var MaximumDepth=rows[i]['MaximumDepth'];
                        var GroundElevation=rows[i]['GroundElevation'];
                        var MaximumFlowCapacity=rows[i]['MaximumFlowCapacity'];
                        var Width=rows[i]['Width'];
                        var Length=rows[i]['Length'];
                       
                        var RainGrateLength=rows[i]['RainGrateLength'];
                        var RainGrateWidth=rows[i]['RainGrateWidth'];
                        var RetentionCapacity=rows[i]['RetentionCapacity'];
                        var IdentificationCode=rows[i]['IdentificationCode'];

                        var point = new Point(rows[i]['OrgY'], rows[i]['OrgX']);
                            var attr = {"Form":Form,"AdministrativeArea":AdministrativeArea,"GarbageInterceptionDevice":GarbageInterceptionDevice,"DeodorizationDevice":DeodorizationDevice,"RainwaterInterceptionDevice":RainwaterInterceptionDevice,
                                "FacilityStatus":FacilityStatus,"MaximumDepth":MaximumDepth,"GroundElevation":GroundElevation,"MaximumFlowCapacity":MaximumFlowCapacity,
                            
                                "Width":Width,"Length":Length,"RainGrateMaterial":RainGrateMaterial,"RainGrateLength":RainGrateLength,"RainGrateWidth":RainGrateWidth,"RetentionCapacity":RetentionCapacity,"IdentificationCode":IdentificationCode };

                       
                            var content = "<b>收水井形式:</b>&nbsp${Form}&nbsp&nbsp<br>"
                                           + "<b>所属区域:</b>&nbsp${AdministrativeArea}&nbsp&nbsp<br>"
                                           + "<b>垃圾拦截:</b>&nbsp${GarbageInterceptionDevice}&nbsp&nbsp<br>"
                                           + "<b>防臭装置:</b>&nbsp${DeodorizationDevice}&nbsp&nbsp<br>"
                                           + "<b>雨水截留:</b>&nbsp${FacilityStatus}&nbsp&nbsp<br>"
                                           + "<b>最大深度(米):</b>&nbsp${MaximumDepth}&nbsp&nbsp<br>"
                                           + "<b>地表高程(米):</b>&nbsp${GroundElevation}&nbsp&nbsp<br>"
                                           + "<b>最大过流能力(升/秒):</b>&nbsp${MaximumFlowCapacity}&nbsp&nbsp<br>"
                                           + "<b>收水井宽度(米):</b>&nbsp${Width}&nbsp&nbsp<br>"
                                           + "<b>收水井长度(米):</b>&nbsp${Length}&nbsp&nbsp<br>"
                                           + "<b>雨水篦长度(米):</b>&nbsp${RainGrateLength}&nbsp&nbsp<br>"
                                           + "<b>雨水篦宽度(米):</b>&nbsp${RainGrateWidth}&nbsp&nbsp<br>"
                                           + "<b>初期雨水截留能力(立方米):</b>&nbsp${RetentionCapacity}&nbsp&nbsp<br>"
                                           + "<b>雨水篦材质:</b>&nbsp${RainGrateMaterial}&nbsp&nbsp<br>"
                            infoTemplate.setTitle("收水井标识码："+"${IdentificationCode}");
                            infoTemplate.setContent(content);
                            graphic = new esri.Graphic(point, sms, attr, infoTemplate);
                            graphicsLayer.add(graphic);
                        }
                        MyMap.resize();
                        MyMap.addLayer(graphicsLayer);
                        MyMap.centerAt(new Point(rows[rows.length-1]['OrgY'], rows[rows.length-1]['OrgX']));  
                }
         )
        }


        function doFind() {
            var rows = $("#tbgrid").datagrid("getRows");
            var pp = $('#testss').tabs('getSelected');
            if(pp.panel('options').title!="地图查看")
            { 
                $('#mapCheckbox').hide();

            }else
            {
                $('#mapCheckbox').show();
                if(lastid!=rows[rows.length-1]['BillNo'])
                {
                    lastid=rows[rows.length-1]['BillNo'];
                    adds(rows);

                }else{

                    return;
                }

            }

        }


        //function doCount() {

        //    this.form = ko.mapping.fromJS(data.form);
        //    var param = ko.toJS(this.form);
        //    //alert(param);
        //    //alert("sss");
        //    $('#countgrid').datagrid({
        //        title: 'DataGrid - ContextMenu',
        //        url:'/api/mms/inspectionwell',
        //        contentType: "application/json",
              
        //        width: 700,
        //        method: 'get',
        //        height: 'auto'
             
            
        //    });
        
        //    $('#countgrid').datagrid('load');
        //}




        function test(val)
        {
           

            alert(utils.CovValueToText(val,data.dataSource.Category));
          
        }


        $('#mapCheckbox').hide();



        $('#btn').bind('click', function(){
          
            if ($('#item1').attr('checked')) 
            {  
                selecteditem1=$('input[name="item1"]:checked').val();

            }else{

                selecteditem1=0;
            }

            if ($('#item2').attr('checked')) 
            {  
                selecteditem2=$('input[name="item2"]:checked').val();

            }else{

                selecteditem2=0;
            }

            if ($('#item3').attr('checked')) 
            {  
                selecteditem3=$('input[name="item3"]:checked').val();

            }else{

                selecteditem3=0;
            }

            if ($('#item4').attr('checked')) 
            {  
                selecteditem4=$('input[name="item4"]:checked').val();

            }else{

                selecteditem4=0;
            }
            
            if ($('#item5').attr('checked')) 
            {  
                selecteditem5=$('input[name="item5"]:checked').val();

            }else{

                selecteditem5=0;
            }
            if ($('#item6').attr('checked')) 
            {  
                selecteditem6=$('input[name="item6"]:checked').val();

            }else{

                selecteditem6=0;
            }
          
            MyMapDiv.innerHTML="";
            var rows = $("#tbgrid").datagrid("getRows");
            adds(rows);
              

        });


        // 初始化图表标签
        var myChart = echarts.init(document.getElementById('chart'));
        $(function () {
           
            $.ajax({
                url: "/mms/rainwaterport/Echart/Form",
                success: function (data) {
                    var options=data;
                    myChart.setOption(options);
                },
                async: false
            });

        });

        // 初始化图表标签
        var myCharts = echarts.init(document.getElementById('charts'));
        $(function () {
           
            $.ajax({
                url: "/mms/rainwaterport/Echart/AdministrativeArea",
                success: function (data) {
                    var options=data;
                    myCharts.setOption(options);
                },
                async: false
            });

        });
        var myChart1 = echarts.init(document.getElementById('chart1'));
        $(function () {
           
            $.ajax({
                url: "/mms/rainwaterport/Echart/RainGrateMaterial",
                success: function (data) {
                    var options=data;
                    myChart1.setOption(options);
                },
                async: false
            });

        });

       


    </script>
}

@Html.RenderToolbar()



<div id="condition" class="container_12" style="position:relative;">
    <div class="grid_1 lbl">收水井标识码</div>
    <div class="grid_2 val"><input type="text" data-bind="value:form.IdentificationCode" class="z-txt" /></div>
    <div class="grid_1 lbl">所在道路名称</div>
    <div class="grid_2 val"><input type="text" data-bind="value:form.Address" class="z-txt" /></div>
    <div class="grid_1 lbl">所在区域</div>
    <div class="grid_2 val"><input type="text" data-bind="comboboxValue:form.AdministrativeArea,datasource:dataSource.AdministrativeArea" class="easyui-combobox z-txt" data-options="showblank:true" /></div>

    <div class="clear"></div>

    <div class="grid_1 lbl">收水井形式</div>
    <div class="grid_2 val"><input type="text" data-bind="comboboxValue:form.Form,datasource:dataSource.Form" class="easyui-combobox z-txt" data-options="showblank:true" /></div>
    <div class="grid_1 lbl">垃圾拦截装置</div>
    <div class="grid_2 val"><input type="text" data-bind="comboboxValue:form.GarbageInterceptionDevice,datasource:dataSource.GarbageInterceptionDevice" class="easyui-combobox z-txt" data-options="showblank:true" /></div>
    <div class="grid_1 lbl">防臭装置</div>
    <div class="grid_2 val"><input type="text" data-bind="comboboxValue:form.DeodorizationDevice,datasource:dataSource.DeodorizationDevice" class="easyui-combobox z-txt" data-options="showblank:true" /></div>

    <div class="clear"></div>

    <div class="prefix_9" style="position:absolute;top:5px;height:0;">
        <a id="a_search" href="#" class="buttonHuge button-blue" style="margin:0 15px;" data-bind="click:searchClick">查询</a>
        <a id="a_reset" href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
    </div>
</div>

<div id="mapCheckbox">
    <label>请先选择要加载的底图类型：</label>
    <input type="checkbox" name="item1" value="1" id="item1" />建筑图层
    <input type="checkbox" name="item2" value="2" id="item2" />河流图层
    <input type="checkbox" name="item3" value="3" id="item3" />道路图层
    <input type="checkbox" name="item4" value="4" id="item4" />等高线图层
    <input type="checkbox" name="item5" value="5" id="item5" />标注图层
    <input type="checkbox" name="item6" value="6" id="item6" />行政区图层
    <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">确 认</a>
</div>



<div id="testss" class="easyui-tabs" data-bind="click:doFind">
    <div title="详细信息">
        <div style="position: absolute; height: 100%; overflow-y:auto ;overflow-x:hidden">
            <table id="tbgrid" data-bind="datagrid:grid" style="scrollbar-darkshadow-color: #f00; height: 100%">
                <thead>
                    <tr>
                        <th field="BillNo" hidden="hidden" sortable="true" align="center" width="90">流水号</th>
                        <th field="Address" @Html.HideColumn(Cols, "Address") sortable="true" align="center" width="100">所在道路名称</th>
                        <th field="AdministrativeArea" @Html.HideColumn(Cols, "AdministrativeArea") sortable="true" align="center" width="100" formatter="com.AdministrativeArea">所在区域</th>
                        <th field="Form" @Html.HideColumn(Cols, "Form") sortable="true" align="center" width="100" formatter="com.Form">收水井形式</th>
                        <th field="MaximumDepth" @Html.HideColumn(Cols, "MaximumDepth") sortable="true" align="center" width="100">最大深度(米)</th>
                        <th field="GroundElevation" @Html.HideColumn(Cols, "GroundElevation") sortable="true" align="center" width="100">地表高程(米)</th>
                        <th field="MaximumFlowCapacity" @Html.HideColumn(Cols, "MaximumFlowCapacity") sortable="true" align="center" width="120">最大过流能力(升/秒)</th>
                        <th field="Width" @Html.HideColumn(Cols, "Width") sortable="true" align="center" width="100">收水井宽度(米)</th>
                        <th field="Length" @Html.HideColumn(Cols, "Length") sortable="true" align="center" width="100">收水井长度(米)</th>
                        <th field="RainGrateMaterial" @Html.HideColumn(Cols, "RainGrateMaterial") sortable="true" align="center" width="100" formatter="com.RainGrateMaterial">雨水篦材质</th>
                        <th field="RainGrateLength" @Html.HideColumn(Cols, "RainGrateLength") sortable="true" align="center" width="100">雨水篦长度(米)</th>
                        <th field="RainGrateWidth" @Html.HideColumn(Cols, "RainGrateWidth") sortable="true" align="center" width="100">雨水篦宽度(米)</th>
                        <th field="GarbageInterceptionDevice" @Html.HideColumn(Cols, "GarbageInterceptionDevice") sortable="true" align="center" width="100" formatter="com.GarbageInterceptionDevice">装备垃圾拦截装置</th>
                        <th field="DeodorizationDevice" @Html.HideColumn(Cols, "DeodorizationDevice") sortable="true" align="center" width="100" formatter="com.DeodorizationDevice">装备防臭装置</th>
                        <th field="RainwaterInterceptionDevice" @Html.HideColumn(Cols, "RainwaterInterceptionDevice") sortable="true" align="center" width="100" formatter="com.RainwaterInterceptionDevice">装备初期雨水截留装置</th>
                        <th field="RetentionCapacity" @Html.HideColumn(Cols, "RetentionCapacity") sortable="true" align="center" width="100">初期雨水截留能力(立方米)</th>
                        <th field="FacilityStatus" @Html.HideColumn(Cols, "FacilityStatus") sortable="true" align="center" width="100" formatter="com.FacilityStatus">设施状态</th>
                        <th field="OrgX" hidden="hidden" align="left" width="100">经度</th>
                        <th field="OrgY" hidden="hidden" align="left" width="100">纬度</th>
                        <th field="IdentificationCode" hidden="hidden" align="left" width="100">标识码</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div title="地图查看" id="mapwin">
        <div style="height: 100%;width:100%; overflow-y: hidden; overflow-x: hidden">
            <div id="MyMapDiv" class="MapClass" style="height: 800px"></div>
        </div>
    </div>


    <div title="统计查看">
        <div style="position: absolute; height: 100%; overflow-y:auto ;overflow-x:hidden">
            <div id="chart" style="width:500px;height:500px;  float:left">   </div>
            <div id="charts" style="width:500px;height:500px; float:right"> </div>
            <div id="chart1" style="width:500px;height:500px; float:left">  </div>
        </div>
    </div>
</div>



